:root {
  --main-green: #2e7d32;
  /* 진한 초록 */
  --light-green: #81c784;
  /* 연두 */
  --hover-green: #66bb6a;
  /* 버튼 hover 색 */
  --deep-green: #D8F3DC;
  --lime-green: #B7E4C7;
  --yellow-green: #FFCC00;
}

.container {
  background-color: #E3ECF1;
}

.sidebar {
  background-color: green !important;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s ease;
  height: 100%;
  z-index: 99;
  font-size: 20px;
}

.button {
  position: fixed;
  /* 화면 왼쪽 상단 고정 */
  top: 15px;
  left: 15px;
  width: auto;
  /* 아이콘 크기에 맞춤 */
  height: auto;
  z-index: 2000;
  /* 사이드바 위에 뜨도록 */
  border: none;
  background: none;
  /* 배경 제거 */
  padding: 0;
  /* 불필요 여백 제거 */
  cursor: pointer;
  /* 마우스 올리면 손가락 모양 */
}

.openBtn {
  width: 35px;
  /* 원하는 크기로 조절 */
  height: 35px;
}

.content {
  padding: 40px 40px 0 20px;
  position: relative;
  width: 100%;
}

.icon {
  margin: 0;
}

.white:hover {
  color: var(--light-green) !important;
  transform: translateY(-2px);
}

.white {
  color: white;
  font-size: 23px;
}

.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* 흰색 반투명 구분선 */
  margin: 10px 0;
}
